* {
  margin: 0;
  padding: 0;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: black;
  color: white;
}

ul.socials li {
  display: inline;
}

ul.publications li {
  display: inline;
}

#gamechanger {
  background-color: red;
}
